// Flex layout
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
        margin: 0;
        flex: 0 0 auto;
    }

    &.item-2 .item {
        flex: 0 0 calc((100% - (2 * 25px)) / 2)
    }
    &.item-3 .item {
        width: 33.333%;
    }
}

// Grid layout
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    position: relative;
    overflow: hidden;

    .item {
        width: 100%;
        justify-self: left;
        position: relative;
        box-sizing: border-box;
        margin: 0;

        // Grid with divider
        &--divider {
            // Horizonal divider
            &:before {
                content: '';
                height: 1px;
                background-color: $border-color;
                position: absolute;
                bottom: 0;
                top: -25px;
                width: 960px;
                box-sizing: border-box;
                margin: 0;
                right: 0;
                left: 0;
            }
            // Vertical divider
            &:after {
                content: '';
                position: absolute;
                width: 1px;
                background-color: $border-color;
                top: 0;
                bottom: 0;
                right: -25px;
                height: 500px;
            }
        }
        
        .item-content {
            margin: 0;
        }
    }

    // Adjust layout for medium screens (2 items per row)
    @media screen and (max-width: $breakpoint-small) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    
    // Specific small screen
    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    .item {
        // Tablet to large screens
        @media screen and (min-width: 769px) {
            &:nth-child(3n) {
                .item-content {
                    margin-left: auto
                }
            }
            &:nth-child(3n + 2) {
                .item-content {
                    margin: 0 auto;
                }
            }
        }

        @media screen and (max-width: $breakpoint-medium) {
            padding: 10px 0 15px;
            .item-content {
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 480px) {
            .item-content {
                max-width: 100%;
            }
        }
    }

}

