@import 'variables';
@import 'fonts';
@import 'icons';

// Generate SVG icons
@include generate-svg-icons;

@import 'base';
@import 'responsive';

// Header
header {
    position: relative;
    background-color: $bg-light;
    height: 660px;
    
    .container {
        padding-top: 0;
    }

    h1 {
        font-family: $logo-font;
        font-size: 48px;
        font-weight: 400;
        line-height: 60px;
    }

    .logo {
        display: inline-flex;
        text-align: center;
    }
    .logo:after {
        background-image: url('/assets/svg/pro-badge.svg');
        content: '';
        width: 42px;
        height: 22px;
    }
    
    .cta-text {
        font-size: 20px;
        padding: 40px 0;
    }

    .video-demo {
        position: absolute;
        bottom: -270px;

        &.playing {
            .video-player {
                display: block;
            }
            .video-thumbnail {
                display: none;
            }
        }
        .video-player {
            display: none;
            width: 960px;
            height: 540px;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .video-thumbnail {
        box-shadow: 0px 10px 50px 0px #00000026;
        position: relative;
        display: inline-block;

        .play-button {
            background-position: center;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 5px 25px 0px #00000026;
        }
    }
}


// Main
#main {
    .cta-wrap {
        padding: 100px 0 0;
    }
}

// CTA
.row {
    &.cta-actions {
        gap: 50px;
    }
}
.cta-wrap {
    width: 630px;
    padding: 50px 0;
    text-align: center;
}

// Features
.features {
    &:first-child {
        padding-top: 270px;
    }

    .row {
        justify-content: space-between;
        min-height: 292px;

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
        &:not(:first-child) .item {
            padding-top: 48px;
        }
    }
    .item {
        border-right: 1px solid #ddd;

        &:nth-child(2) .item-content{
            margin: 0 auto;
        }

        &:last-child .item-content {
            margin-left: auto;
        }
        &:last-child {
            border: 0 none;
        }

        .item-content {
            margin: 0;
            text-align: center;
            width: 250px;
        }
    }
}

// Testimonials
.testimonials {
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);

    .row {
        gap: 50px;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .testimonial-item {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 6px;

        .item-content {
            padding: 30px 30px 15px 30px;
        }
        blockquote {
            padding-bottom: 15px;
        }

        .author {
            display: flex;
            margin: 0 auto;
            flex-wrap: nowrap;
            justify-content: space-between;

            .author-name {
                font-size: 14px;
                color: #aaa;
                margin: 0;
            }
            .author-rating {
                align-self: center;
                margin: 0;               
            }   
        }
    }
}

// Hero section
.hero-section {
    background: #F8F8F8;
    height: 800px;

    .row {
        gap: 50px;
        flex-wrap: nowrap;
    }

    .image-demo {
        border-radius: 6px;
        box-shadow: 0px 10px 30px 0px #0000001A;
    }
}

/* Demo images */
.demo-images {
    .row {
        gap: 50px;
        flex-wrap: nowrap;
    }
    .item {
        box-shadow: 0px 5px 25px 0px #00000026;
        border-radius: 6px;
        overflow: hidden;
    }
    img {
        width: 455px;
    }
}

/* Secondary features */
.features.secondary {
    .container {
        padding-top: 0;
    }
}






